[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozendict = "==2.3.0"
sqlalchemy = "==1.4.34"
alembic = "==1.7.7"
flask = "==2.1.2"

[dev-packages]
flake8 = "==4.0.1"
mccabe = "==0.6.1"
pycodestyle = "==2.8.0"
pyflakes = "==2.4.0"

[requires]
python_version = "3.9"
